@inherits LayoutComponentBase

<div class="m-container">
    <div class="m-element m-header">Header</div>
    <div class="m-element m-content">TO-DO list here</div>
    <div class="m-element m-left-side">Some adds</div>
    <div class="m-element m-right-side">Some adds</div>
    <div class="m-element m-mini-footer">Mini footer</div>
</div>

@*@Body*@
